USE [DBDepoOtomasyon]
GO
/****** Object:  Table [dbo].[StokHareketleri]    Script Date: 24.05.2026 11:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StokHareketleri](
	[StokID] [int] IDENTITY(1,1) NOT NULL,
	[URUN] [int] NULL,
	[HareketTipi] [nvarchar](10) NULL,
	[Miktar] [int] NULL,
	[Tarih] [datetime] NULL,
	[Aciklama] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[StokID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLBarkod]    Script Date: 24.05.2026 11:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLBarkod](
	[UrunBarkod] [varchar](30) NULL,
	[UrunID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLCanlıSohbet]    Script Date: 24.05.2026 11:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLCanlıSohbet](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [varchar](15) NULL,
	[Mesaj] [varchar](200) NULL,
	[Tarih] [smalldatetime] NULL,
 CONSTRAINT [PK_TBLCanlıSohbet] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLKategori]    Script Date: 24.05.2026 11:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLKategori](
	[KategoriID] [smallint] IDENTITY(1,1) NOT NULL,
	[KategoriAd] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLKullanıcı]    Script Date: 24.05.2026 11:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLKullanıcı](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[kullaniciAdi] [varchar](20) NULL,
	[sifre] [varchar](25) NULL,
 CONSTRAINT [PK_TBLKullanıcı] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLUrunler]    Script Date: 24.05.2026 11:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLUrunler](
	[UrunID] [int] IDENTITY(1,1) NOT NULL,
	[UrunAd] [varchar](40) NULL,
	[UrunMarka] [varchar](40) NULL,
	[UrunGirisTarihi] [smalldatetime] NULL,
	[KATEGORI] [smallint] NULL,
	[AlisFiyat] [decimal](18, 2) NULL,
	[SatisFiyat] [decimal](18, 2) NULL,
	[PERSONEL] [smallint] NULL,
	[StokMiktarı] [int] NULL,
 CONSTRAINT [PK_TBLUrunler] PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StokHareketleri] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[TBLCanlıSohbet] ADD  CONSTRAINT [DF_TBLCanlıSohbet_Tarih]  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[TBLUrunler] ADD  CONSTRAINT [DF_TBLUrunler_StokMiktarı]  DEFAULT ((0)) FOR [StokMiktarı]
GO
ALTER TABLE [dbo].[StokHareketleri]  WITH CHECK ADD FOREIGN KEY([URUN])
REFERENCES [dbo].[TBLUrunler] ([UrunID])
GO
ALTER TABLE [dbo].[TBLBarkod]  WITH CHECK ADD  CONSTRAINT [FK_TBLBarkod_TBLUrunler] FOREIGN KEY([UrunID])
REFERENCES [dbo].[TBLUrunler] ([UrunID])
GO
ALTER TABLE [dbo].[TBLBarkod] CHECK CONSTRAINT [FK_TBLBarkod_TBLUrunler]
GO
/****** Object:  StoredProcedure [dbo].[BarkodListele]    Script Date: 24.05.2026 11:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[BarkodListele](@barkod varchar(30))
as
BEGIN
select * from TBLUrunler u where u.UrunID=(select b.UrunID from TBLBarkod b where b.UrunBarkod=@barkod)
END
GO
